{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-0",
    "react",
    "react-boilerplate"
  ],
  "plugins": ["dynamic-import-webpack", "transform-export-extensions"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
