@import "antd/lib/style/themes/default";

.page {
  height: 100%;
}

.sider {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background: #fff;

  :global {
    & .ant-layout-sider-trigger {
      padding-right: 25px;
      background: #fff;
      color: #404040;
      text-align: right;
      font-size: 14px;
    }
  }
}

.header {
  padding: 0;
  background: #fff;
}

.logo {
  float: left;
  width: 250;
}

.content {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  box-shadow: inset 0 0 96px -20px @shadow-color;
}
