@import "app/style/colors/gray";

.menulink {
  display: flex;
  align-items: center;
  height: 42px;

  :global {
    & .ant-badge {
      margin-right: 10px;
    }
  }
}

.spacer {
  flex-basis: 20px;
}

.icon {
  flex-basis: 20px;
  padding: 0 25px;
  font-size: 20px;
}

.title {
  flex: 1;
}

.expander {
  flex-basis: 24px;
}
